<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Table</title>
</head>
<body>

<h2>User Details</h2>

<form action="/api/userlogin4" method="post">

<table border="1">
    <tr>
        <th>ID</th>
        <td>
            <input type="text" name="id" th:value="${usar.id}">
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <td>
            <input type="text" name="name" th:value="${usar.name}">
        </td>
    </tr>
    <tr>
        <th>Role</th>
        <td>
            <input type="text" name="role" th:value="${usar.role}">
        </td>
    </tr>
    <tr>
        <th>Company</th>
        <td>
            <input type="text" name="company" th:value="${usar.company}">
        </td>
    </tr>
</table>

<br>
<button type="submit">Submit</button>

</form>

</body>
</html>